<div class="container m-auto justify-content-md-center">
  <div class="row">
    <div class="col-md-12" id="containerAbout">
      <h1 class="title">About Me</h1>
      <img class="col-sm-12" id="profil" src="/public/assets/images/profil.jpg" alt="Janvier Mbilizi" />
      <p class="col-sm-12" id="Bio">
        My name is Janvier Mbilizi and I am a Full Stack Web Developer
        educated at the University of Denver (DU) who has a passion for
        approaching programming challenges from different angles. My skills
        include; Computer Science applied to JavaScript(Data structures, Algorithms), Browser Based
        Technologies (HTML, CSS, JavaScript, jQuery), CSS frameworks (Bootstrap, Materialize, Foundation CSS), Databases
        (MySQL, MongoDB), deployment (Heroku, Git), React, Quality Assurance
        (Writing Tests), Server Side Development (Node.js, Express, MERN
        Stack) and proficiency with advanced electronics. My strengths include
        meeting deadlines, creativity, and working as a team to create
        meaningful web applications. I remain calm in fast-paced environments
        and I use my education and skill-set to solve problems or debug when
        code is not working as expected. Outside of Software Engineering career, has a Bachelor’s degree in Geology and
        Mining and has worked as a Case Manager
        and Community Advocate serving hundreds of refugee and immigrant families across the Denver-metro and Shenandoah
        Valley
        area. I strive to use my leadership skills, cultural awareness, partnership development, adaptability,
        dependability,
        problem-solving
        skills, time management, critical thinking, written and verbal communication, attention to detail to analyze,
        create and edit
        reports, and
        a structured work ethic while building tools and products with an awesome user experience that solve problems or
        create
        efficiency. I am a quick and dedicated learner.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div id="links">
      <a href="/public/assets/documents/Resume.pdf" target="_blank"><img class="linkImg"
          src="/public/assets/images/resumeIcon.png" data-toggle="tooltip" data-placement="top" title="my resume" /></a>
      <a href="https://github.com/Janviermbilizi" target="_blank"><img class="linkImg"
          src="/public/assets/images/github.png" data-toggle="tooltip" data-placement="top"
          title="link to my github profil" /></a>
      <a href="https://www.linkedin.com/in/janvier-mbilizi/" target="_blank"><img class="linkImg"
          src="/public/assets/images/linkIn.png" data-toggle="tooltip" data-placement="top"
          title="link to my linkIn profil" /></a>
      <a href="https://www.facebook.com/janvier.mbilizi" target="_blank"><img class="linkImg"
          src="/public/assets/images/facebookLink.png" data-toggle="tooltip" data-placement="top"
          title="link to my facebook profil" /></a>
    </div>
  </div>
</div>