<div class="container my-auto justify-content-md-center">
  <div class="row">
    <div class="col-md-12" id="containerAbout">
      <h1 class="title">About Me</h1>
      <img class="col-sm-12" id="profil" src="/public/assets/images/profil.jpg" alt="Janvier Mbilizi" />
      <p class="col-sm-12" id="Bio">
        My name is Janvier Mbilizi and I am a Full Stack Web Developer
        educated at the University of Denver (DU) who has a passion for
        approaching programming challenges from different angles. My skills
        include; Computer Science applied to JavaScript, Browser Based
        Technologies (HTML, CSS, JavaScript, jQuery), Databases (MySQL,
        MongoDB), deployment (Heroku, Git), React, Quality Assurance
        (Writing Tests), Server Side Development (Node.js, Express, MERN
        Stack) and proficiency with advanced electronics. My strengths include
        meeting deadlines, creativity, and working as a team to create
        meaningful web applications. I remain calm in fast-paced environments
        and I use my education and skill-set to solve problems or debug when
        code is not working as expected. I strive to adapt quickly,
        communicate effectively, and think critically; These strengths allow
        me to be a team player. I am a quick and dedicated learner who is
        hoping to soon become an asset to your company.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div id="links">
      <a href="/public/assets/documents/Resume.pdf" target="_blank"><img class="linkImg"
          src="/public/assets/images/resumeIcon.png" data-toggle="tooltip" data-placement="top" title="my resume" /></a>
      <a href="https://github.com/Janviermbilizi" target="_blank"><img class="linkImg"
          src="/public/assets/images/github.png" data-toggle="tooltip" data-placement="top"
          title="link to my github profil" /></a>
      <a href="https://www.linkedin.com/in/janvier-mbilizi/" target="_blank"><img class="linkImg"
          src="/public/assets/images/linkIn.png" data-toggle="tooltip" data-placement="top"
          title="link to my linkIn profil" /></a>
      <a href="https://www.facebook.com/janvier.mbilizi" target="_blank"><img class="linkImg"
          src="/public/assets/images/facebookLink.png" data-toggle="tooltip" data-placement="top"
          title="link to my facebook profil" /></a>
    </div>
  </div>
</div>