<div class="row my-auto justify-content-md-center">
  <div class="col-md-9" id="container2">
    <h1 class="title">Portfolia</h1>
    <br />
    <div class="row justify-content-center">
      {{!-- code quiz --}}
      <div class="pf">
        <button type="button" data-toggle="modal" data-target="#modalCenterQuiz"><img
            src="/public/assets/images/codeQuiz.png" alt="" />
          <div class="pftitle">
            Code Quiz
          </div>
        </button>
        <div class="modal fade" id="modalCenterQuiz" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Code Quiz</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <a href="https://janviermbilizi.github.io/Code_Quiz" target="_blank">
                  <h4>Deployed App</h4>
                </a>
                <br>
                <a href="https://github.com/Janviermbilizi/Code_Quiz" target="_blank">
                  <h4>Github repository</h4>
                </a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- Weather-Dashboard --}}
      <div class="pf">
        <button type="button" data-toggle="modal" data-target="#modalCenterWeather"><img
            src="/public/assets/images/weatherDashbord.png" alt="" />
          <div class="pftitle">
            Weather Dashboard
          </div>
        </button>
        <div class="modal fade" id="modalCenterWeather" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Weather Dashboard</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <a href="https://janviermbilizi.github.io/Weather-Dashboard/" target="_blank">
                  <h4>Deployed App</h4>
                </a>
                <br>
                <a href="https://github.com/Janviermbilizi/Weather-Dashboard" target="_blank">
                  <h4>Github repository</h4>
                </a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- Traveler --}}
      <div class="pf">
        {{!-- <a href="https://github.com/cwright489/Project1" target="_blank"><img src="/public/assets/images/traveler.jpg"
            alt="" />
          <div class="pftitle">
            Traveler
          </div>
        </a> --}}
        <button type="button" data-toggle="modal" data-target="#modalCenterTraveler"><img
            src="/public/assets/images/traveler.jpg" alt="" />
          <div class="pftitle">
            Traveler
          </div>
        </button>
        <div class="modal fade" id="modalCenterTraveler" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Traveler</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{!-- <a href="https://note-taker-site.herokuapp.com/" target="_blank">
                  <h4>Live web page</h4>
                </a>
                <br> --}}
                <a href="https://janviermbilizi.github.io/traveler/" target="_blank">
                  <h4>Deployed App</h4>
                </a>
                <br>
                <a href="https://github.com/Janviermbilizi/traveler" target="_blank">
                  <h4>Github repository</h4>
                </a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- <div class="pf">
        <a href="https://github.com/Janviermbilizi/Team-Profile-Generator" target="_blank"><img
            src="/public/assets/images/Tpg.png" alt="" />
          <div class="pftitle">
            Team Profil Generator
          </div>
        </a>
      </div> --}}

      {{!-- Note_Taker --}}
      <div class="pf">
        <button type="button" data-toggle="modal" data-target="#modalCenterNote"><img
            src="/public/assets/images/noteTaker.png" alt="" />
          <div class="pftitle">
            Note Taker
          </div>
        </button>
        <div class="modal fade" id="modalCenterNote" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Note Taker</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <a href="https://note-taker-site.herokuapp.com/" target="_blank">
                  <h4>Deployed App</h4>
                </a>
                <br>
                <a href="https://github.com/Janviermbilizi/Note_Taker" target="_blank">
                  <h4>Github repository</h4>
                </a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- Burger App --}}
      <div class="pf">
        <button type="button" data-toggle="modal" data-target="#modalCenter"><img
            src="/public/assets/images/burgerApp.png" alt="" />
          <div class="pftitle">
            Burger App
          </div>
        </button>
        <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Burger App</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <a href="https://eat-da-burger-site.herokuapp.com/" target="_blank">
                  <h4>Deployed App</h4>
                </a>
                <br>
                <a href="https://github.com/Janviermbilizi/Eat-Da-Burger" target="_blank">
                  <h4>Github repository</h4>
                </a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- Metabook --}}
      <div class="pf">
        <button type="button" data-toggle="modal" data-target="#exampleModalCenter"><img
            src="/public/assets/images/Metabook.png" alt="" />
          <div class="pftitle">
            Metabook
          </div>
        </button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Metabook</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <a href="https://cryptic-sea-06963.herokuapp.com/" target="_blank">
                  <h4>Deployed App</h4>
                </a>
                <br>
                <a href="https://github.com/cwright489/Project2" target="_blank">
                  <h4>Github repository</h4>
                </a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>