<div class="row justify-content-md-center">
  <div class="col-md-9 " id="container2">
    <h1 class="row justify-content-center" id="title">Portfolia</h1>
    <br />
    <div class="row justify-content-center">
      <div class="pf">
        <a href="https://janviermbilizi.github.io/Password-Generator/" target="_blank"><img
            src="/public/assets/images/PW.png" alt="" /></a>
        <div class="pftitle">
          <a href="https://janviermbilizi.github.io/Password-Generator/" target="_blank">Password Generator</a>
        </div>
      </div>
      <div class="pf">
        <a href="https://janviermbilizi.github.io/Code_Quiz" target="_blank"><img
            src="/public/assets/images/codeQuiz.png" alt="" /></a>
        <div class="pftitle">
          <a href="https://janviermbilizi.github.io/Code_Quiz/" target="_blank">Code Quiz</a>
        </div>
      </div>
      <div class="pf">
        <a href="https://janviermbilizi.github.io/HW5-Day-Planner/" target="_blank"></a><img
          src="/public/assets/images/DayPlanner.png" alt="" />
        <div class="pftitle">
          <a href="https://janviermbilizi.github.io/HW5-Day-Planner/" target="_blank">Day Planner</a>
        </div>
      </div>
      <div class="pf">
        <a href="https://janviermbilizi.github.io/Weather-Dashboard/" target="_blank"></a><img
          src="/public/assets/images/weatherDashbord.png" alt="" />
        <div class="pftitle">
          <a href="https://janviermbilizi.github.io/Weather-Dashboard/" target="_blank">Weather Dashboard</a>
        </div>
      </div>
      <div class="pf">
        <a href="https://github.com/cwright489/Project1" target="_blank"></a><img
          src="/public/assets/images/traveler.jpg" alt="" />
        <div class="pftitle">
          <a href="https://github.com/cwright489/Project1" target="_blank">Traveler</a>
        </div>
      </div>
    </div>
  </div>
</div>