<div class="row my-auto justify-content-md-center">
  <div class="col-md-9" id="container2">
    <h1 class="row justify-content-center" id="title">Portfolia</h1>
    <br />
    <div class="row justify-content-center">
      <div class="pf">
        <a href="https://janviermbilizi.github.io/Password-Generator/" target="_blank"><img
            src="/public/assets/images/PW.png" alt="" />
          <div class="pftitle">
            Password Generator
          </div>
        </a>
      </div>
      <div class="pf">
        <a href="https://janviermbilizi.github.io/Code_Quiz" target="_blank"><img
            src="/public/assets/images/codeQuiz.png" alt="" />
          <div class="pftitle">
            Code Quiz
          </div>
        </a>
      </div>
      <div class="pf">
        <a href="https://janviermbilizi.github.io/HW5-Day-Planner/" target="_blank"><img
            src="/public/assets/images/DayPlanner.png" alt="" />
          <div class="pftitle">
            Day Planner
          </div>
        </a>
      </div>
      <div class="pf">
        <a href="https://janviermbilizi.github.io/Weather-Dashboard/" target="_blank"><img
            src="/public/assets/images/weatherDashbord.png" alt="" />
          <div class="pftitle">
            Weather Dashboard
          </div>
        </a>
      </div>
      <div class="pf">
        <a href="https://github.com/cwright489/Project1" target="_blank"><img src="/public/assets/images/traveler.jpg"
            alt="" />
          <div class="pftitle">
            Traveler
          </div>
        </a>
      </div>
      <div class="pf">
        <a href="https://github.com/Janviermbilizi/Team-Profile-Generator" target="_blank"><img
            src="/public/assets/images/Tpg.png" alt="" />
          <div class="pftitle">
            Team Profil Generator
          </div>
        </a>
      </div>
      <div class="pf">
        <a href="https://note-taker-site.herokuapp.com/" target="_blank"><img src="/public/assets/images/noteTaker.png"
            alt="" />
          <div class="pftitle">
            Note Taker
          </div>
        </a>
      </div>
      <div class="pf">
        <a href="https://eat-da-burger-site.herokuapp.com/" target="_blank"><img
            src="/public/assets/images/burgerApp.png" alt="" />
          <div class="pftitle">
            Burger App
          </div>
        </a>
      </div>
      <div class="pf">
        <a href="https://cryptic-sea-06963.herokuapp.com/" target="_blank"><img src="/public/assets/images/Metabook.png"
            alt="" />
          <div class="pftitle">
            Metabook
          </div>
        </a>
      </div>
    </div>
  </div>
</div>